.nav-links{
    list-style: none;
}


body{
    transition: background-color 700ms ease;
}

#money {
    animation: spin 0.001s linear infinite;
    width: 190px;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}




/* céges teló méret (vekker)*/
@media (max-width: 576px){
    body{
        background-color: brown;
    }
}


/* tablet puca*/
@media (min-width: 577px) and (max-width: 768px){
    body{
        background-color: rgb(255, 0, 0);
    }
}


/* számítógépre kapcsolt monitor mérete */
@media (min-width: 1024px){
    body{
            background-color: blue;
        }
}

